/*DEVELOPER: Julia Sklodowska, IS117-003, Fall 2022 */
body {
    background-color: #f8f8f8;
}
a:focus, a:hover {
    text-decoration: underline;
    color: black;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;

}
h1 {
    font-size: 300%;
}
#contact {
    background-color: #344ea8;
    color: #f8f8f8;
    margin-bottom: 5%;

}
img {
    max-width: 100%;
    height: auto;
}
footer {
    clear: left;
    width: 100%;
    background-color: #344ea8;
    margin-top: 5%;

}
footer p {
    text-align: left;
    color: #f8f8f8;
    padding: 1em 1em 0.5em 1em;
}

.link {
    float: right;
}
.terms-link, .privacy-link{
    color: #f8f8f8;
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    footer p {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 10px;
    }
}